.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 148px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
        gap: 73px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 320px;
        padding-top: 64px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 66px;
        gap: 50px;
    }
}