.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 148px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        padding: 92px 48px 90px;
        gap: 80px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        padding: 88px 24px 90px;
        gap: 73px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 320px;
        padding: 64px 0 66px;
        gap: 50px;
    }
}