.cover__subtitle {
    max-width: 360px;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding-top: 33px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}