.footer__links ul {
    max-width: 1184px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 660px) {
    .footer__links ul {
        flex-direction: column;
        gap: 32px;
    }
}

@media screen and (max-width: 425px) {
    .footer__links ul {
        max-width: 186px;
    }
}