.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        min-height: 18px;
        gap: 277px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        min-height: 18px;
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
        gap: 69px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 186px;
        min-height: 310px;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 118px;
        flex-direction: column;
        gap: 48px;
    }
}