.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        min-height: 18px;
        padding: 92px 48px 24px;
        display: flex;
        gap: 277px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        min-height: 18px;
        padding: 88px 24px 24px;
        display: flex;
        gap: 69px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 186px;
        min-height: 310px;
        padding: 64px 118px 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}